{% extends 'AppBundle::master.html.twig' %}

{% block content %}
    {# This is the template for the "Blog" page. #}
    {# Further information on Twig templates can be found under #}
    {# views/master.html.twig and views/templates/homepage.html.twig. #}
    {% include('AppBundle:includes:headerimage.html.twig') %}

    <section property="articles" class="blog">
        {% for article in content.articles %}
            <div class="blog-item">
                <div class="grid">
                    <div class="grid__item desk--five-tenths lap--one-half palm--one-whole">
                        {% if article.excerpt.images|length and article.excerpt.images|first.thumbnails['600x300'] is defined %}
                                {% set image = article.excerpt.images|first %}
                                {% set defaultImage = asset(image.thumbnails['600x300']) %}
                                {% set title = image.title %}
                                {% set breakpoints = {
                                    "(min-width: 1024px)" : [
                                        asset(image.thumbnails["600x300"]),
                                        asset(image.thumbnails["1200x600"])
                                    ],
                                    "(max-width: 1024px)" : [
                                        asset(image.thumbnails["500x375"]),
                                        asset(image.thumbnails["1000x750"])
                                    ]
                                } %}

                                {{ app_picture(defaultImage, title, breakpoints, "blog-item-image")|raw }}
                        {% endif %}
                    </div>

                    <div class="grid__item desk--five-tenths lap--one-half palm--one-whole">
                        <div class="blog-item-text">
                            {% if article.published.date|default('') %}
                                <p class="blog-item-text-date">
                                    {{ article.published.date|date("d.m.Y") }}
                                </p>
                            {% endif %}

                            {% set title = '' %}

                            {% if article.excerpt.title %}
                                {% set title = article.excerpt.title %}
                            {% else %}
                                {% set title = article.title %}
                            {% endif %}

                            <p class="blog-item-text-heading">
                                {{ title }}
                            </p>

                            {% set authorContact = "" %}

                            {% if author|length %}
                                {% set authorContact = sulu_resolve_contact(author) %}
                            {% else %}
                                {% set authorContact = sulu_resolve_contact(creator) %}
                            {% endif %}

                            {% if authorContact|default('') %}
                                <span class="author">
                                    <i class="author-rectangle"></i>
                                    <p class="author-by">{{ 'posted'|trans }}</p>
                                    <p class="author-author">{{ authorContact.fullName }}</p>
                                </span>
                            {% endif %}

                            {% if article.excerpt.description %}
                                <div class="blog-item-text-text">
                                    {{ article.excerpt.description|raw }}
                                </div>
                            {% endif %}

                            {% if article.routePath|default('') %}
                                <a href="{{ sulu_content_path(article.routePath) }}" class="button-medium">
                                    {{ article.excerpt.more |default('read_more'|trans) }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
