{% extends "master.html.twig" %}

{% block content %}
    <div property="headerImage">
        <div property="headerHeading">
            <div property="headerSubheading">
                {% if content.headerImage[0] is defined %}
                    <header class="about-header"
                            style="background-image: url({{ content.headerImage[0].thumbnails['800x']}});">
                        <div class="about-header-frame">
                            {% if content.headerHeading != "" %}
                                <h2 class="heading--h2">{{ content.headerHeading }}</h2>
                            {% endif %}

                            {% if content.headerSubheading != "" %}
                                <p>{{ content.headerSubheading }}</p>
                            {% endif %}
                        </div>
                    </header>
                {% endif %}
            </div>
        </div>
    </div>

    <section class="about">
        <div class="about-gallery">
            <div property="images" class="grid">
                {% for image in content.images %}
                    <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                        <img src="{{ image.thumbnails['480x'] }}" title="{{ image.name }}"/>
                    </div>
                {% endfor %}
            </div>
        </div>

        {% if content.tabsHeading != "" and content.tabsSubheading != "" and content.tabsText != "" %}
            <div class="about-history">
                <h2 property="tabsHeading" class="heading--h2">{{ content.tabsHeading }}</h2>

                <p property="tabsSubheading" class="about-history-subheading">
                    {{ content.tabsSubheading }}
                </p>

                <div property="tabsText">
                    {{ content.tabsText|raw }}
                </div>

                <div property="tabs" typeof="collection" class="about-history-tabs">
                    {% set tabClass = 'about-history-tabs-links' %}

                    {% if content.tabs|length >= 3 %}
                        {% set tabClass = tabClass ~ ' rows' %}
                    {% endif %}

                    <ul rel="tab" typeof="block" class="{{ tabClass }}">
                        {% for tab in content.tabs %}
                                {% set attrClass = '' %}

                                {% if loop.first %}
                                    {% set attrClass = ' class="active"' %}
                                {% endif %}

                                <li {{ attrClass|raw }}>
                                    <a property="tabName"
                                       id="about-history-tabs-links-{{ loop.index }}"
                                       href="#about-history-tabs-content-tab{{ loop.index }}">
                                        {{ tab.tabName }}
                                    </a>
                                </li>
                        {% endfor %}
                    </ul>

                    <div class="about-history-tabs-content">
                        {% for tab in content.tabs %}
                            <div rel="tab" typeof="block">
                                <div id="about-history-tabs-content-tab{{ loop.index }}"
                                     class="about-history-tabs-content-tab {{ loop.first ? "active" : "" }}">
                                    <div property="heading" class="about-history-tabs-content-tab-heading">
                                        {{ tab.heading }}
                                    </div>

                                    <div property="text" class="about-history-tabs-content-tab-text">
                                        {{ tab.text|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    <div class="about-numbers js-numbers">
        <div class="about-numbers-frame">
            <div class="grid">
                <div class="grid__item desk--one-quarter lap--one-half palm--one-whole">
                    <i class="ion-mic-c"></i>
                    <p class="about-numbers-frame-number js-number-mic">0</p>
                    <p>Live Performences</p>
                </div>

                <div class="grid__item desk--one-quarter lap--one-half palm--one-whole">
                    <i class="ion-ios-world-outline"></i>
                    <p class="about-numbers-frame-number js-number-world">0</p>
                    <p>LInternational Tours</p>
                </div>

                <div class="grid__item desk--one-quarter lap--one-half palm--one-whole">
                    <i class="ion-speakerphone"></i>
                    <p class="about-numbers-frame-number js-number-songs">0</p>
                    <p>Songs Performance</p>
                </div>

                <div class="grid__item desk--one-quarter lap--one-half palm--one-whole">
                    <i class="ion-social-twitter"></i>
                    <p class="about-numbers-frame-number js-number-twitter">0</p>
                    <p>Twitter Followers</p>
                </div>
            </div>
        </div>
    </div>

    {% if content.artistsBackground[0] is defined and content.artistsData[0] is defined %}
        <div rel="blocks" typeof="block">
            <div property="artistsBackground">
                {% include('includes/team.html.twig') with {
                    "artists" : content,
                    "background": "imagebackground",
                    "backgroundImageUrl": content.artistsBackground[0].thumbnails['1600x'],
                    "kind" : "heading--h2--border"
                } %}
            </div>
        </div>
    {% endif %}

    <div property="action">
        {% for item in content.action %}
            {%  if item.title != "" and item.text != "" and item.image is defined and item.link != "" %}
                {# for booking #}
                {% include(':includes:forbooking.html.twig') with{
                    "action" : item
                } %}
            {% endif %}
        {% endfor %}
    </div>

    <div property="partnerData">
        {% if content.partnerData[0] is defined %}
            {# Partner #}
            {% include('includes/partner.html.twig') with{
                "partner" : content
            } %}
        {% endif %}
    </div>

{% endblock %}
