{% extends "master.html.twig" %}

{% block content %}

    {# header image #}
    {% include(':includes:headerimge.html.twig') with {
        'imagesrc' : content.headerImage[0].url,
        'kind' : 'headerimage-text--left',
        'headingposition' : 'heading--left',
        'heading' : content.headerHeading,
        'text': content.headerSubheading
    } %}

    <section class="artist">
        <div class="grid">
            <div class="grid__item desk--four-fifths portable--one-whole">
                <div class="artist-main">
                    <h2 class="artist-main-heading">
                        {{ content.contentHeading }}
                    </h2>

                    <div class="artist-main-scalebox">
                        <img src="{{ content.contentTitleimage[0].url }}" class="artist-main-scalebox-image"/>
                    </div>

                    <div class="artist-main-subheading">
                        {{ content.contentSubheading }}
                    </div>

                    {% for block in content.blocks %}
                        {% if block.type == "text" %}

                            {{ block.contentText | raw }}

                        {% elseif block.type == "quote" %}

                            <div class="artist-main-quote">
                                <p>
                                    {{ block.contentText }}
                                </p>
                            </div>

                        {% elseif block.type == "media" and block.contentMedia|length >=3 %}

                            <div class="grid">
                                {% for i in 0..2 %}
                                    <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                                        <div class="artist-main-galleryitem">
                                            <div class="artist-main-scalebox">
                                                <img src="{{ block.contentMedia[i].url }}"
                                                     alt="{{ block.contentMedia[i].description }}"
                                                     class="artist-main-scalebox-image">
                                            </div>
                                            <p class="artist-main-text">{{ block.contentMedia[i].description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        {% elseif block.type == "discography" %}
                            {# Discography #}
                            {% include('includes/discography.html.twig') with {
                                "discography" : block,
                                "background" : "discography--nobackground"
                            } %}

                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="grid__item desk--one-fifth">
                <aside class="artist-sidemenu">
                    <h2 class="artist-sidemenu-heading">
                        {% set isdiscography = "false" %}

                        {% for category in extension.excerpt.categories %}
                            {% if category.key == "discography" %}
                                {% set isdiscography = "true" %}
                            {% endif %}
                        {% endfor %}

                        {{ isdiscography == "true" ? "Our Albums" : "Our Artists" }}
                    </h2>
                    <ul class="artist-sidemenu-list">
                        {% for artist in artists|sulu_util_multisort('[title]', 'asc') %}
                            <li>
                                <a href="{{ artist.url }}">
                                    {{ artist.title }}
                                    <i class="ion-ios-arrow-right"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}