{% extends "master.html.twig" %}

{% block content %}
    {% if content.headerImage|length %}
        {% include(':includes:headerimage.html.twig') with {
            'image' : content.headerImage|first,
            'kind' : 'headerimage-text--left',
            'headingposition' : 'heading--left',
            'heading' : content.headerHeading,
            'text': content.headerSubheading
        } %}
    {% endif %}

    <section class="artists">
        <h4 class="heading--h3--border">Our Artists</h4>

        <div class="grid">
            {% for artist in content.artists %}
                <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                    <div class="artists-item">
                        <div class="artists-item--scalebox">
                            <img src="{{ artist.image|first.thumbnails['480x'] }}" class="artists-item-image">
                        </div>

                        <div class="artists-item-text">
                            <h5 class="artists-item-text-heading heading--h5">{{ artist.heading }}</h5>

                            {% if  artist.categories|length >0 %}
                                <span class="artists-item-text-subheading">
                                    {% for category in artist.categories %}
                                        {% if loop.index != artist.categories|length %}
                                            <a href="{{ sulu_category_url(category) }}"> {{ category.name }}</a>,
                                        {% else %}
                                            <a href="{{ sulu_category_url(category) }}"> {{ category.name }} </a>
                                        {% endif %}
                                    {% endfor %}
                                </span>
                            {% endif %}

                            <p>
                                {{ artist.text }}
                            </p>

                            <a href="{{ artist.url }}" class="artists-item-text-button">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}