{% extends "master.html.twig" %}

{% block content %}
    {% if content.headerImage|length %}
        <div property="headerImage">
            <div property="headerHeading">
                <div property="headerSubheading">
                    {% include(':includes:headerimage.html.twig') with {
                        'image' : content.headerImage|first,
                        'kind' : 'headerimage-text--left',
                        'headingposition' : 'heading--left',
                        'heading' : content.headerHeading,
                        'text': content.headerSubheading
                    } %}
                </div>
            </div>
        </div>
    {% endif %}

    <section class="artist">
        <div class="grid">
            <div class="grid__item desk--four-fifths portable--one-whole">
                <div class="artist-main">
                    {% if content.contentHeading|default('') %}
                        <h2 property="contentHeading" class="artist-main-heading">
                            {{ content.contentHeading }}
                        </h2>
                    {% endif %}

                    {% if content.contentTitleimage|length %}
                        <div class="artist-main-scalebox">
                            <picture property="contentTitleimage">
                                <source media="(min-width: 481px)"
                                        srcset="{{ content.contentTitleimage|first.thumbnails['800x'] }}"
                                        class="artist-main-scalebox-image">

                                <source media="(max-width: 480px)"
                                        srcset="{{ content.contentTitleimage|first.thumbnails['480x'] }}"
                                        class="artist-main-scalebox-image">

                                <!---Fallback--->
                                <img src="{{ content.contentTitleimage|first.thumbnails['800x'] }}"
                                     class="artist-main-scalebox-image"/>
                            </picture>

                        </div>
                    {% endif %}

                    <div property="contentSubheading" class="artist-main-subheading">
                        {{ content.contentSubheading }}
                    </div>

                    <div property="blocks" typeof="collection">
                        {% for block in content.blocks %}
                            {% if block.type == "text" %}
                                <div rel="blocks" typeof="block">
                                    <div property="contentText">
                                        {{ block.contentText | raw }}
                                    </div>
                                </div>

                            {% elseif block.type == "quote" %}
                                <div rel="blocks" typeof="block">
                                    <div class="artist-main-quote">
                                        <p property="contentText">
                                            {{ block.contentText }}
                                        </p>
                                    </div>
                                </div>

                            {% elseif block.type == "media" and block.contentMedia|length >=3 %}
                                <div rel="blocks" typeof="block">
                                    <div class="grid">
                                        {% for i in 0..2 %}
                                            <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                                                <div class="artist-main-galleryitem">
                                                    <div property="contentMedia" class="artist-main-scalebox">
                                                        <img src="{{ block.contentMedia[i].thumbnails['480x'] }}"
                                                             alt="{{ block.contentMedia[i].description }}"
                                                             class="artist-main-scalebox-image">
                                                    </div>
                                                    <p class="artist-main-text">{{ block.contentMedia[i].description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            {% elseif block.type == 'discography' %}
                                {# Discography #}
                                {% include('includes/discography.html.twig') with {
                                'discography' : block,
                                'background' : 'discography--nobackground'
                                } %}

                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="grid__item desk--one-fifth">
                <aside class="artist-sidemenu">
                    <h2 class="artist-sidemenu-heading">
                        {% set isdiscography = false %}

                        {% for category in extension.excerpt.categories %}
                            {% if category.key == "discography" %}
                                {% set isdiscography = true %}
                            {% endif %}
                        {% endfor %}

                        {{ isdiscography ? 'our_albums'|trans : 'our_artists'|trans }}
                    </h2>
                    <ul class="artist-sidemenu-list">
                        {% for artist in artists|sulu_util_multisort('[title]', 'asc') %}
                            <li>
                                <a href="{{ artist.url }}">
                                    {{ artist.title }}
                                    <i class="ion-ios-arrow-right"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}