{% extends "master.html.twig" %}

{% block content %}
    {# header image #}
    {% include(':includes:headerimge.html.twig') with {
        'imagesrc' : '/img/subheader1.jpg',
        'kind' : 'headerimage-text--left',
        'headingposition' : 'heading--left',
        'heading' : 'Our Artists',
        'text': 'New album, Fallen Empires, arrives with a serious reputation attached. The Irish/Scottish five piece have sold over.'
    } %}

    <section class="artists">
        <h4 class="heading--h3--border">Our Artists</h4>
        
        <div class="grid">
            {% for artist in content.artists %}
                <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                    <div class="artists-item">
                        <div class="artists-item--scalebox">
                            <img src="{{ artist.image[0].url }}" class="artists-item-image">
                        </div>

                        <div class="artists-item-text">
                            <h5 class="artists-item-text-heading heading--h5">{{ artist.heading }}</h5>

                            <span class="artists-item-text-subheading">
                                    {% for tag in artist.tags %}
                                        {% if loop.index != artist.tags|length %}
                                           {{ tag }},
                                        {% else %}
                                            {{ tag }}
                                        {% endif %}
                                    {% endfor %}
                            </span>

                            <p>
                                {{ artist.text }}
                            </p>

                            <a href="{{ artist.url }}" class="artists-item-text-button">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}