{% extends "master.html.twig" %}

{% block content %}
    {# header image #}
    {% include(':includes:headerimge.html.twig') with {
    'imagesrc' : content.headerImage[0].url,
    'kind' : 'headerimage-text--left',
    'headingposition' : 'heading--left',
    'heading' : content.headerHeading,
    'text': content.headerSubheading
    } %}

    {{ dump() }}

    <section class="blog">
        <div class="grid">
            <div class="grid__item desk--four-fifths portable--one-whole">
                <h4 class="heading--h4--border">Blog</h4>

                {% for article in content.articles %}
                    <div class="grid">
                        <div class="grid__item desk--four-tenths lap--one-third palm--one-whole">
                            <img src="{{ article.image[0].url }}" class="blog-image"/>
                        </div>

                        <div class="grid__item desk--six-tenths lap--two-thirds palm--one-whole">
                            <div class="blog-text">
                                <p class="blog-text-date">{{ article.published.date|date("d.m.Y") }}</p>

                                <h5 class="heading--h5">{{ article.heading }}</h5>

                            <span class="blog-text-subheading">
                                posted by <a href="#">{{ sulu_resolve_user(article.changer).contact.fullName }}</a>
                                {% if article.categories|length >0 %}
                                    <i class="ion-ios-arrow-forward"></i>
                                    {% for category in article.categories %}
                                        {% if loop.index != article.categories|length %}
                                            <a href="{{ link }}?categories={{ category.id }}"
                                               class="blog-text-subheading-category">
                                                    {{ category.name }},
                                                </a>
                                            {% else %}
                                            <a href="{{ link }}?categories={{ category.id }}"
                                               class="blog-text-subheading-category">
                                                    {{ category.name }}
                                                </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </span>

                                <p>
                                    {{ article.text }}
                                </p>

                                <a href="{{ article.url }}" class="blog-text-button">Read More</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            {# Sidemenu #}
            {% include(':includes:blogsidemenu.html.twig') %}
        </div>
    </section>
{% endblock %}
