{% extends "master.html.twig" %}

{% block content %}
    {# header image #}
    {% include(':includes:headerimge.html.twig') with {
        'imagesrc' : content.headerImage[0].url,
        'kind' : 'headerimage-text--left',
        'headingposition' : 'heading--left',
        'heading' : content.headerHeading,
        'text': content.headerSubheading
    } %}

    <section class="blogdetail">
        <div class="grid">
            <div class="grid__item desk--four-fifths portable--one-whole">
                <div class="blogdetail-main">
                    <h2 class="blogdetail-heading">
                        {{ content.contentHeading }}
                    </h2>

                    <div class="blogdetail-scalebox">

                        {% if contecontent.contentTitleimage[0] is defined %}
                            <img src="{{ content.contentTitleimage[0].url }}" class="blogdetail-scalebox-image"/>
                        {% endif %}
                    </div>

                    <div class="blogdetail-editor">

                        {% if sulu_resolve_contact(changer).avatar is defined %}
                            <img src="{{ sulu_resolve_media(sulu_resolve_contact(changer).avatar, request.locale).url }}"/>
                        {% endif %}
                        <div class="blogdetail-editor-middle">
                            <span class="blogdetail-editor-middle-date">
                                Posted on: <p>{{ published.date|date("d.m.Y") }}</p>
                            </span>

                            <span class="blogdetail-editor-middle-editor">
                                posted by <a href="#">{{ sulu_resolve_user(changer).contact.fullName }}</a>

                                {% if extension.excerpt.categories|length >0 %}
                                    <i class="ion-ios-arrow-forward"></i>
                                    {% for category in extension.excerpt.categories %}

                                        {% if loop.index != extension.excerpt.categories|length %}
                                            <a href="{{ link }}?categories={{ category.id }}"
                                               class="blogdetail-editor-middle-category">
                                               {{ category.name }},
                                            </a>
                                            {% else %}
                                            <a href="{{ link }}?categories={{ category.id }}"
                                               class="blogdetail-editor-middle-category">
                                               {{ category.name }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>

                        <div class="blogdetail-editor-right">
                            <i class="ion-social-facebook blogdetail-editor-right-social"></i>
                            <div class="blogdetail-editor-right-line"></div>
                            <p class="blogdetail-editor-right-social-number">14</p>

                            <i class="ion-social-twitter blogdetail-editor-right-social"></i>
                            <div class="blogdetail-editor-right-line"></div>
                            <p class="blogdetail-editor-right-social-number">14</p>
                        </div>
                    </div>

                    <div class="blogdetail-subheading">
                        <p>
                            {{ content.headerSubheading }}
                        </p>
                    </div>

                    {% for block in content.blocks %}
                        {% if block.type == "text" %}

                            {{ block.contentText | raw }}

                        {% elseif block.type == "quote" %}

                            <div class="blogdetail-quote">
                                <p>
                                    {{ block.contentText }}
                                </p>
                            </div>

                        {% elseif block.type == "media" and block.contentMedia|length >=3 %}

                            <div class="grid">
                                {% for i in 0..2 %}
                                    <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                                        <div class="blogdetail-galleryitem">
                                            <div class="blogdetail-scalebox">
                                                <img src="{{ block.contentMedia[i].url }}"
                                                     alt="{{ block.contentMedia[i].description }}"
                                                     class="blogdetail-scalebox-image">
                                            </div>
                                            <p class="blogdetail-text">{{ block.contentMedia[i].description }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        {% endif %}
                    {% endfor %}

                    <div class="blogdetail-tags">
                        <span class="blogdetail-tags-heading">
                            <i class="ion-pricetag"></i> Post Tags
                        </span>
                        <ul class="blogdetail-tags-list">

                            {% for tag in extension.excerpt.tags %}
                                <li>
                                    <a href="{{ link }}?tags={{ tag }}">
                                        {{ tag }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="blogdetail-share">
                        <span class="blogdetail-share-heading">
                            <i class="ion-android-share"></i> Share Post
                        </span>

                        <div class="blogdetail-share-line"></div>

                        <div class="blogdetail-share-socials">
                            <a href="#" class="blogdetail-share-socials--facebook">
                                <i class="ion-social-facebook"></i>
                            </a>

                            <a href="#" class="blogdetail-share-socials--twitter">
                                <i class="ion-social-twitter"></i>
                            </a>

                            <a href="#" class="blogdetail-share-socials--instagram">
                                <i class="ion-social-instagram"></i>
                            </a>

                            <a href="#" class="blogdetail-share-socials--whatsapp">
                                <i class="ion-social-whatsapp"></i>
                            </a>
                        </div>
                    </div>

                    <div class="blogdetail-posts">

                    {% if lastAndPrevArticle.prev is defined %}
                        {% set media = sulu_resolve_media(lastAndPrevArticle.prev.image.ids, request.locale) %}
                        <div class="blogdetail-posts-item cf">
                            <img src="{{ media.url }}"/>
                            <span class="blogdetail-posts-item-date">
                                {{ lastAndPrevArticle.prev.creation.date|date("d.m.Y") }}
                            </span>
                            <a href="{{ lastAndPrevArticle.prev.url.value }}">
                                <h5>
                                    Last Article: {{ lastAndPrevArticle.prev.heading.value }}
                                </h5>
                            </a>
                        </div>
                    {% endif %}

                    {% if lastAndPrevArticle.next is defined %}
                        {% set media = sulu_resolve_media(lastAndPrevArticle.next.image.ids, request.locale) %}
                        <div class="blogdetail-posts-item cf">
                            <img src="{{ media.url }}"/>
                            <span class="blogdetail-posts-item-date">
                                {{ lastAndPrevArticle.next.creation.date|date("d.m.Y") }}
                            </span>
                            <a href="{{ lastAndPrevArticle.next.url.value }}">
                                <h5>
                                    Next Article: {{ lastAndPrevArticle.next.heading.value }}
                                </h5>
                            </a>
                        </div>
                    {% endif %}
                    </div>

                    <h4 class="heading heading--h4--border">255 Comments</h4>
                    <div class="blogdetail-comments">
                        <div class="blogdetail-comments-item">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 2014, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>

                        <div class="blogdetail-comments-item">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 2014, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>

                        <div class="blogdetail-comments-item--sub">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 2014, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>

                        <div class="blogdetail-comments-item--subsub">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>

                        <div class="blogdetail-comments-item">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 2014, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <h4 class="heading heading--h4--border">Leave us a Comment</h4>
                    {% include(':includes:messageform.html.twig') with {
                        'buttonposition':'left'
                    } %}
                </div>
            </div>

            {# Sidemenu #}
            {% include(':includes:blogsidemenu.html.twig') %}
        </div>
    </section>
{% endblock %}