{% extends "master.html.twig" %}

{% block content %}
    {% if content.headerImage|length %}
        <div property="headerImage">
            <div property="headerHeading">
                <div property="headerSubheading">
                    {% include(':includes:headerimage.html.twig') with {
                        'image' : content.headerImage[0],
                        'kind' : 'headerimage-text--left',
                        'headingposition' : 'heading--left',
                        'heading' : content.headerHeading,
                        'text': content.headerSubheading
                    } %}
                </div>
            </div>
        </div>
    {% endif %}

    <section class="blogdetail">
        <div class="grid">
            <div class="grid__item desk--four-fifths portable--one-whole">
                <div class="blogdetail-main">
                    <h2 property="contentHeading" class="blogdetail-heading">
                        {{ content.contentHeading }}
                    </h2>

                    <div property="contentTitleimage" class="blogdetail-scalebox">
                        {% if content.contentTitleimage|length %}
                            <picture>
                                <source media="(min-width: 481px)"
                                        srcset="{{ content.contentTitleimage[0].thumbnails['800x'] }}"
                                        class="blogdetail-scalebox-image">

                                <source media="(max-width: 480px)"
                                        srcset="{{ content.contentTitleimage[0].thumbnails['480x'] }}"
                                        class="blogdetail-scalebox-image">

                                <!---Fallback--->
                                <img src="{{ content.contentTitleimage[0].thumbnails['800x'] }}"
                                     class="blogdetail-scalebox-image"/>
                            </picture>
                        {% endif %}
                    </div>
                    <div property="author" class="blogdetail-editor">

                        {% set author = sulu_resolve_contact(creator) %}

                        {% if content.author|length %}
                            {% set author = content.author|first %}
                        {% endif %}

                        {% if author.avatar.url is defined %}
                            <img src="{{ author.avatar.url }}"/>
                        {% endif %}

                        <div class="blogdetail-editor-middle">
                            <span class="blogdetail-editor-middle-date">
                                Posted on: <p>{{ published|date('d.m.Y') }}</p>
                            </span>

                            <span class="blogdetail-editor-middle-editor">
                                posted by <a href="#">{{ author.fullName }}</a>

                                {% if extension.excerpt.categories|length >0 %}
                                    <i class="ion-ios-arrow-forward"></i>
                                    {% for category in extension.excerpt.categories %}

                                        {% if loop.index != extension.excerpt.categories|length %}
                                            <a href="{{ link }}?categories={{ category.id }}"
                                               class="blogdetail-editor-middle-category">
                                               {{ category.name }},
                                            </a>
                                            {% else %}
                                            <a href="{{ link }}?categories={{ category.id }}"
                                               class="blogdetail-editor-middle-category">
                                               {{ category.name }}
                                            </a>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </span>
                        </div>

                        <div class="blogdetail-editor-right">
                            <i class="ion-social-facebook blogdetail-editor-right-social"></i>
                            <div class="blogdetail-editor-right-line"></div>
                            <p class="blogdetail-editor-right-social-number">14</p>

                            <i class="ion-social-twitter blogdetail-editor-right-social"></i>
                            <div class="blogdetail-editor-right-line"></div>
                            <p class="blogdetail-editor-right-social-number">14</p>
                        </div>
                    </div>

                    <div class="blogdetail-subheading">
                        <p property="contentSubheading">
                            {{ content.contentSubheading }}
                        </p>
                    </div>
                    <div property="blocks" typeof="collection">
                        {% for block in content.blocks %}
                            <div rel="blocks" typeof="block">
                                {% if block.type == "text" %}
                                        <div property="contentText">
                                            {{ block.contentText | raw }}
                                        </div>
                                {% elseif block.type == "quote" %}

                                    <div class="blogdetail-quote">
                                        <p property="contentText">
                                            {{ block.contentText }}
                                        </p>
                                    </div>

                                {% elseif block.type == "media" and block.contentMedia|length >=1 %}

                                    <div property="contentMedia" class="grid">
                                        {% for media in block.contentMedia %}
                                            <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                                                <div class="blogdetail-galleryitem">
                                                    <div class="blogdetail-scalebox">
                                                        <img src="{{ media.thumbnails['100x100-inset'] }}"
                                                             alt="{{ media.description }}"
                                                             class="blogdetail-scalebox-image">
                                                    </div>
                                                    <p class="blogdetail-text">{{ media.description }}</p>
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="blogdetail-tags">
                        <span class="blogdetail-tags-heading">
                            <i class="ion-pricetag"></i> Post Tags
                        </span>
                        <ul class="blogdetail-tags-list">

                            {% for tag in extension.excerpt.tags %}
                                <li>
                                    <a href="{{ link }}?tags={{ tag }}">
                                        {{ tag }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="blogdetail-share">
                        <span class="blogdetail-share-heading">
                            <i class="ion-android-share"></i> Share Post
                        </span>

                        <div class="blogdetail-share-line"></div>

                        <div class="blogdetail-share-socials">
                            <a href="#" class="blogdetail-share-socials--facebook">
                                <i class="ion-social-facebook"></i>
                            </a>

                            <a href="#" class="blogdetail-share-socials--twitter">
                                <i class="ion-social-twitter"></i>
                            </a>

                            <a href="#" class="blogdetail-share-socials--instagram">
                                <i class="ion-social-instagram"></i>
                            </a>

                            <a href="#" class="blogdetail-share-socials--whatsapp">
                                <i class="ion-social-whatsapp"></i>
                            </a>
                        </div>
                    </div>

                    <div class="blogdetail-posts">

                    {% if lastAndPrevArticle.prev is defined %}
                        {% set media = sulu_resolve_media(lastAndPrevArticle.prev.image.ids, request.locale) %}
                        <div class="blogdetail-posts-item cf">
                            <img src="{{ media.url }}"/>
                            <span class="blogdetail-posts-item-date">
                                {{ lastAndPrevArticle.prev.creation.date|date("d.m.Y") }}
                            </span>
                            <a href="{{ lastAndPrevArticle.prev.url.value }}">
                                <h5>
                                    Last Article: {{ lastAndPrevArticle.prev.heading.value }}
                                </h5>
                            </a>
                        </div>
                    {% endif %}

                    {% if lastAndPrevArticle.next is defined %}
                        {% set media = sulu_resolve_media(lastAndPrevArticle.next.image.ids, request.locale) %}
                        <div class="blogdetail-posts-item cf">
                            <img src="{{ media.url }}"/>
                            <span class="blogdetail-posts-item-date">
                                {{ lastAndPrevArticle.next.creation.date|date("d.m.Y") }}
                            </span>
                            <a href="{{ lastAndPrevArticle.next.url.value }}">
                                <h5>
                                    Next Article: {{ lastAndPrevArticle.next.heading.value }}
                                </h5>
                            </a>
                        </div>
                    {% endif %}
                    </div>

                    <h4 class="heading heading--h4--border">255 Comments</h4>
                    <div class="blogdetail-comments">
                        <div class="blogdetail-comments-item">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 2014, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>

                        <div class="blogdetail-comments-item">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 2014, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>

                        <div class="blogdetail-comments-item--sub">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 2014, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>

                        <div class="blogdetail-comments-item--subsub">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>

                        <div class="blogdetail-comments-item">
                            <img src="/img/recentblog-img1.jpg" class="blogdetail-comments-item-image"/>
                            <div class="blogdetail-comments-item-text">
                                <h5 class="blogdetail-comments-item-text-name heading--h5">James Warson</h5>
                                <p>
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires, arrives with a serious over.
                                    Snow Patrol's new album, Fallen Empires, arrives with a serious reputation attached.
                                    The Irish/Scottish five piece have sold Fallen Empires.
                                </p>
                                <span class="blogdetail-comments-item-text-date">
                                    <i class="ion-ios-arrow-forward"></i> July 27, 2014, 08:55PM
                                    <a href="#"><i class="ion-android-share"></i> REPLY</a>
                                </span>
                            </div>
                        </div>
                    </div>

                    <h4 class="heading heading--h4--border">Leave us a Comment</h4>
                    {% include(':includes:messageform.html.twig') with {
                        'buttonposition':'left'
                    } %}
                </div>
            </div>

            {# Sidemenu #}
            {% include(':includes:blogsidemenu.html.twig') %}
        </div>
    </section>
{% endblock %}