{% extends "master.html.twig" %}

{% set location = {} %}

{% block content %}
    <section class="contact">
        <div class="contact-data">
            <div class="grid">
                {% set snippets = sulu_snippet_load_default('contact') %}

                {% if snippets|length %}
                    {% for contact in snippets|first.content.contact|slice(0) %}
                        <div class="grid__item desk--three-twelfths portable--one-whole">
                            <h4 class="heading--h4--border">{{ 'contact'|trans }}</h4>
                            <div class="grid">
                                <div class="grid__item desk--one-whole lap--one-half palm--one-whole">
                                    {% if contact.mainAddress|length %}
                                        <div class="contact-data-elem">
                                            <i class="ion-email contact-data-elem-icon"></i>
                                            <div class="contact-data-elem-text">
                                                <p>{{ 'address'|trans }}</p>
                                                <h6>
                                                    {{ contact.mainAddress.street }}
                                                    {{ contact.mainAddress.number }},
                                                    {{ contact.mainAddress.zip }}
                                                    {{ contact.mainAddress.city }},
                                                    {% if contact.mainAddress.country|length %}
                                                        {{ contact.mainAddress.country.name }}
                                                    {% endif %}
                                                </h6>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if contact.mainPhone|default('') %}
                                        <div class="contact-data-elem">
                                            <i class="ion-ios-telephone contact-data-elem-icon"></i>
                                            <div class="contact-data-elem-text">
                                                <p>{{ 'phone'|trans }}</p>
                                                <h6>{{ contact.mainPhone }}</h6>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="grid__item desk--one-whole lap--one-half palm--one-whole">
                                    {% if contact.emails|length %}
                                        <div class="contact-data-elem">
                                            <i class="ion-email contact-data-elem-icon"></i>
                                            <div class="contact-data-elem-text">
                                                <p>{{ 'email'|trans }}</p>
                                                <h6>{{ contact.emails|first.email }}</h6>
                                            </div>
                                        </div>
                                    {% endif %}

                                    {% if contact.notes|length %}
                                        <div class="contact-data-elem">
                                            <i class="ion-android-time contact-data-elem-icon"></i>
                                            <div class="contact-data-elem-text">
                                                <p>{{ 'hours'|trans }}</p>
                                                <h6>{{ contact.notes|first.value }}</h6>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="grid__item desk--one-twelfth">
                    {# Empty space #}
                </div>

                <div class="grid__item desk--eight-twelfths portable--one-whole">
                    <h4 property="location" class="heading--h4--border">
                        {% if content.location.title|default('') %}
                            {{ content.location.title }}
                        {% endif %}
                    </h4>

                    <div id="js-googleMap"></div>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <div class="contact-form-content">
                <div class="contact-form-content-text">
                    {# Contact Form #}
                    <h2 class="heading--h2">Feel free to contact us</h2>
                    <p>Arrives with a serious reputation attached. The Irish/Scottish five piece have sold over.</p>
                </div>
                
                {% include(':includes:messageform.html.twig') %}
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBjtPJfpPh9FEwonUW0Lte5Ayshi2FVCKc"></script>

        {% if content.location.lat|default('') and
              content.location.zoom|default('') and
              content.location.long|default('') %}
            <script>
                initializeMap({{ content.location.lat }}, {{ content.location.long }},{{ content.location.zoom }}, 'js-googleMap');
            </script>
        {% endif %}
{% endblock %}
