{% extends "master.html.twig" %}

{% block content %}
    {% if content.headerImage[0] is defined %}
        {# header image #}
        {% include(':includes:headerimge.html.twig') with {
            'imagesrc' : content.headerImage[0].url,
            'kind' : 'headerimage-text--middle-middle',
            'headingposition' : 'heading--middle',
            'heading' : content.headerHeading,
            'text': content.headerSubheading
        } %}
    {% endif %}

    <section class="services">
        <div class="services-activities">
            <div class="grid">
                {% for service in content.services %}
                    {% if service.icon != "" and service.heading != "" and service.text != "" %}
                        <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                            <div class="services-activities-elem">
                                <i class="{{ service.icon }}"></i>
                                <h4>{{ service.heading }}</h4>
                                {{ service.text|raw }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="services-location">
            {% if content.locationsHeading != "" and content.locationsSubheading != "" %}
                <h2 class="heading--h2">{{ content.locationsHeading }}</h2>
                <p>{{ content.locationsSubheading }}</p>
            {% endif %}

            <div class="grid">
                {% for location in content.locations %}
                    {% if location.icon != "" and location.heading != "" and location.text != "" %}
                        <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                            <div class="services-location-elem">
                                <i class="{{ location.icon }} services-location-elem-icon"></i>
                                <div class="services-location-elem-text">
                                    <h4>{{ location.heading }}</h4>
                                    {{ location.text|raw }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>

    {% for item in content.action %}
        {% if item.title|default('') and item.image|default([]) and item.link|default('') %}
            {# for booking #}
            {% include(':includes:forbooking.html.twig') with {
                "action" : item
            } %}
        {% endif %}
    {% endfor %}

    <section class="services">
        <div class="services-carousel js-services-carousel" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
            {% for quote in content.quotes  %}
                {% if quote.contact[0] is defined %}
                    {% set contact = quote.contact[0] %}
                    {% if contact.notes[0] is defined %}
                        <div class="services-carousel-item">
                            <div class="services-carousel-item-line"></div>
                            {% if contact.avatar is defined %}
                                <img src="{{ contact.avatar.thumbnails['100x100'] }}"/>
                            {% endif %}

                            <p>
                                {{ contact.notes[0].value }}
                            </p>

                            <span class="services-carousel-item-author">{{ contact.fullName }}</span>

                            {% if contact.account[0] is defined %}
                                <span class="services-carousel-item-corporation">
                                    {{ contact.account[0].name }}
                                </span>
                            {% endif %}
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </section>
{% endblock %}
