{% extends "master.html.twig" %}

{% block content %}
    <div property="headerImage">
        <div property="headerHeading">
            <div property="headerSubheading">
                {% if content.headerImage|length %}
                    {% include(':includes:headerimage.html.twig') with {
                        'image' : content.headerImage|first,
                        'kind' : 'headerimage-text--middle-middle',
                        'headingposition' : 'heading--middle',
                        'heading' : content.headerHeading,
                        'text': content.headerSubheading
                    } %}
                {% endif %}
            </div>
        </div>
    </div>

    <section class="services">
        <div class="services-activities">
            <div property="services" typeof="collection" class="grid">
                {% for service in content.services %}
                    <div class="grid__item desk--one-third lap--one-half palm--one-whole" rel="services" typeof="block">
                        <div property="icon">
                            <div property="heading">
                                <div property="text">
                                    {% if service.icon != "" and service.heading != "" and service.text != "" %}
                                        <div class="services-activities-elem">
                                            <i class="{{ service.icon }}"></i>
                                            <h4>{{ service.heading }}</h4>
                                            {{ service.text|raw }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="services-location">
            <h2 property="locationsHeading" class="heading--h2">
                {% if content.locationsHeading|default("") %}
                    {{ content.locationsHeading }}
                {% endif %}
            </h2>

            <p property="locationsSubheading">
                {% if content.locationsSubheading|default("") %}
                    {{ content.locationsSubheading }}
                {% endif %}
            </p>

            <div property="locations" typeof="collection" class="grid">
                {% for location in content.locations %}
                    <div rel="locations"
                         typeof="block"
                         class="grid__item desk--one-third lap--one-half palm--one-whole">
                        <div property="icon">
                            <div property="heading">
                                <div property="text">
                                    {% if location.icon != "" and location.heading != "" and location.text != "" %}
                                        <div class="services-location-elem">
                                            <i class="{{ location.icon }} services-location-elem-icon"></i>
                                            <div class="services-location-elem-text">
                                                <h4>{{ location.heading }}</h4>
                                                {{ location.text|raw }}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <div property="action">
        {% for item in content.action %}
            {% if item.title|default('') and item.image|default([]) and item.link|default('') %}
                {% include(':includes:action.html.twig') with {
                    'action' : item
                } %}
            {% endif %}
        {% endfor %}
    </div>

    <section class="services">
        <div property="quotes"
             typeof="collection"
             class="services-carousel js-services-carousel"
             data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
            {% for quote in content.quotes %}
                <div rel="quotes" typeof="block">
                    <div property="contact">
                        {% if quote.contact|length %}
                            {% set contact = quote.contact|first %}
                            {% if contact.notes|length %}
                                <div class="services-carousel-item">
                                    <div class="services-carousel-item-line"></div>
                                    {% if contact.avatar is defined %}
                                        <img src="{{ contact.avatar.thumbnails['100x100'] }}"/>
                                    {% endif %}

                                    <p>
                                        {{ contact.notes|first.value }}
                                    </p>

                                    <span class="services-carousel-item-author">{{ contact.fullName }}</span>

                                    {% if contact.account|length %}
                                        <span class="services-carousel-item-corporation">
                                            {{ contact.account.name }}
                                        </span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
