{% extends "master.html.twig" %}

{% macro recursiveSitemap(child, base) %}
    {% if base == "false" %}
        <i class="ion-ios-arrow-forward"></i>
        <a href="{{ child.url }}">{{ child.title }}</a>
    {% endif %}

    {% if child.children|length %}
        <ul class="sidemap-item-list">
            {% for item in child.children %}
                <li>
                    {{ _self.recursiveSitemap(item, "false") }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% block content %}
    <section class="sidemap">
        <h4 class="title heading--h4--border">Sitemap</h4>
        <div class="grid">
            {% for site in sulu_sitemap().children %}
                <div class="grid__item desk--one-quarter lap--one-half palm--one-whole">
                    <div class="sidemap-item">
                        <h5 class="sidemap-item-subtitle heading--h5"><a href="{{ site.path }}">{{ site.title }}</a></h5>

                        {% if site.children|length %}
                            {{ _self.recursiveSitemap(site, "true") }}
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}
