<div class="grid">
    {% for page in element.pages %}
        <div class="grid__item width-4 width-tablet-6 width-mobile-12">
            <a class="card" href="{{ sulu_content_path(page.url) }}">
                <div class="card__image-holder">
                    {% set image = page.excerptImages[0]|default(page.headerImage) %}

                    {# @see https://github.com/sulu/web-twig/blob/v2.4.0/docs/image.md #}
                    {{ get_image(image, {
                        src: '600x400',
                        class: 'card__image',
                    }) }}

                    <div class="card__image-overlay">
                        <h2 class="card__image-title">{{ page.excerptTitle|default(page.title) }}</h2>
                    </div>
                </div>

                <div class="card__body">
                    <h2 class="card__title">
                        {{ page.excerptTitle|default(page.title) }}
                    </h2>

                    <span class="button card__button">{{ 'read_more'|trans }}</span>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
