{% set tabsId = register_component('tabs', {hash: true}) %}

<div class="albums">
    <h2 class="albums__heading">{{ 'albums'|trans }}</h2>

    <div class="albums__wrapper">
        <div class="albums__links" id="{{ tabsId }}">
            {% for album in content.albums %}
                <div class="albums__link" data-name="{{ album.title }}">
                    {# @see https://docs.sulu.io/en/2.1/reference/twig-extensions/functions/sulu_resolve_media.html #}
                    {% set image = sulu_resolve_media(album.image, app.request.locale) %}

                    {# @see https://github.com/sulu/web-twig/blob/v2.4.0/docs/image.md #}
                    {{ get_image(image, {
                        src: '400x400',
                    }) }}
                </div>
            {% endfor %}
        </div>

        <div class="albums__containers" id="{{ tabsId }}-container">
            {% for album in content.albums %}
                <div class="albums__container">
                    <h3 class="albums__album-title">{{ album.title }}</h3>
                    <ul class="albums__track-list">
                        {% for track in album.tracklist %}
                            <li>
                                <span class="albums__track-list-index">{{ (loop.index) ~ '. ' }}</span>
                                {{ track.title }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
