
    <div class="pulse-grid">
        <div class="blur-line"></div>
        <div class="linebox"></div>
    </div>
    <section class="site-footer js-site-footer ">
        <div class="site-footer__section site-footer__section--secondary">
            <ul class="site-footer__legal">
                <li class="item item-menu">
                    <a href="{{ sulu_content_path('/') }}" title="{{ 'main_page'|trans }}" class="link">
                        {{ 'main_page'|trans }}
                    </a>
                </li>
                {# @see https://docs.sulu.io/en/2.2/reference/twig-extensions/functions/sulu_navigation_root_flat.html #}
                {% for item in sulu_navigation_root_flat('footer', 1, true) %}
                {# @see https://docs.sulu.io/en/2.2/reference/twig-extensions/functions/sulu_content_path.html #}
                <li class="item item-menu">
                    <a href="{{ sulu_content_path(item.url) }}" title="{{ item.title }}" class="link">
                        {# fallback to content title when excerpt title not set #}
                        {{ item.excerpt.title|default(item.title) }}
                    </a>
                </li>
                {% endfor %}

                {#         {{ 'privacy_policy'|trans }} #}
                {#         {{ 'cookie_policy'|trans }} #}
                {#         {{ 'safety_recalls'|trans }} #}
            </ul>
        </div>
        <div class="site-footer__bottom footer-bottom-gradient-bg">
            <div class="site-footer__inner container__inner">

                <div class="socials_footer-wrap">
                    <div class="socials_footer-title">{{ 'follow_us'|trans }}</div>
                    <ul class="socials socials_footer fa-white">
                        <li>
                            <a href="https://www.fb.com/netexy" target="_blank" rel="nofollow">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://t.me/netexy" target="_blank" rel="nofollow">
                                <i class="fa fa-telegram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/netexy" target="_blank" rel="nofollow">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/netexy" target="_blank" rel="nofollow">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="site-footer__contact">
                {% set account = webspaceSettings.content.account.entity|default %}
                    <li>
                        <a href="sms:{{ account.mainPhone }}&body=Hi...">
                            <span class="binct-phone-number-1">{{ account.mainPhone }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="tel:{{ account.mainFax }}">
                            <span class="binct-phone-number-2">{{ account.mainFax }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{ account.mainEmail }}">{{ account.mainEmail }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="site-footer__bottom footer-bottom-black-bg">
            <div class="totop-wrap">
                <a href="#" uk-totop="" uk-scroll="" class="uk-totop uk-icon">
                    <svg width="18" height="10" viewBox="0 0 18 10" xmlns="http://www.w3.org/2000/svg" ratio="1">
                            <polyline fill="none" stroke="#000" stroke-width="1.2" points="1 9 9 1 17 9 "></polyline>
                    </svg>
                </a>
            <div>
            <div class="ecopyright">
                <span class="copy-name">© Netexy</span> 
                <span class="footer-year-info"> {# 2016 - #} {{ 'now'|date('Y') }} </span>
                
                {# <span class="copy-info">{{ 'copyright_text'|trans }}</span> #}
            <div>
        </div>
    </section>
