<footer>
    <div class="footer">
        <div class="container">
            <div class="footer__main">
                <div class="grid grid--reverse">
                    <div class="grid__item width-6 width-tablet-12">
                        <h4 class="footer__title">{{ 'connect_with_us'|trans }}</h4>
                        <div class="footer__newsletter">
                            <p>{{ 'sign_up_for_newsletter'|trans }}</p>

                            <form method="post" class="footer__newsletter-form">
                                <label class="footer__newsletter-input-label">
                                    <input type="email" name="email" placeholder="E-Mail" class="footer__newsletter-input"/>
                                </label>

                                <button type="submit" class="button footer__newsletter-button">{{ 'sign_up'|trans }}</button>
                            </form>
                        </div>
                    </div>

                    <div class="grid__item width-6 width-tablet-12">
                        <div class="grid">
                            <div class="grid__item width-6">
                                <h4 class="footer__title">{{ 'contact'|trans }}</h4>
                                {# @see https://docs.sulu.io/en/2.1/reference/twig-extensions/functions/sulu_snippet_load_by_area.html #}
                                {% set contactInformation = sulu_snippet_load_by_area('footer_contact_information') %}
                                {% if footerContactSnippet.content.contact.entity|default %}
                                    {% set contact = contactInformation.content.contact.entity %}
                                    {% set address = contact.accountAddresses[0].address %}

                                    <div class="footer__contact">
                                        <p>{{ address.street ~ ' ' ~ address.number }},<br/>
                                            {{ address.zip ~ ' ' ~ address.city }},<br/>
                                            {{ country(address.countryCode) }}</p>
                                        <a href="tel:{{ contact.mainPhone }}" class="footer__contact-link">{{ contact.mainPhone }}</a>
                                        <a href="mailto:{{ contact.mainEmail }}" class="footer__contact-link">{{ contact.mainEmail }}</a>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="grid__item width-6">
                                <h4 class="footer__title">{{ 'quick_links'|trans }}</h4>

                                <div class="footer__quicklinks">
                                    {# @see https://docs.sulu.io/en/2.1/reference/twig-extensions/functions/sulu_navigation_root_flat.html #}
                                    {% for item in sulu_navigation_root_flat('footer', 1, true) %}
                                        {# @see https://docs.sulu.io/en/2.1/reference/twig-extensions/functions/sulu_content_path.html #}
                                        <a href="{{ sulu_content_path(item.url) }}" title="{{ item.title }}" class="footer__quicklink">
                                            {# fallback to content title when excerpt title not set #}
                                            {{ item.excerpt.title|default(item.title) }}
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="footer__imprint">
                <div class="footer__imprint-item footer__imprint-item--copyright">
                    &copy; Soundmanagement Corporation {{ 'now'|date('Y') }}
                </div>

                <div class="footer__imprint-item">
                    <a href="#" class="footer__imprint-link">{{ 'privacy_policy'|trans }}</a>
                </div>

                <div class="footer__imprint-item">
                    <a href="#" class="footer__imprint-link">{{ 'cookie_policy'|trans }}</a>
                </div>

                <div class="footer__imprint-item">
                    <a href="#" class="footer__imprint-link">{{ 'safety_recalls'|trans }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="social-footer">
        <div class="container">
            <div class="social-footer__links">
                <a href="#" class="social-footer__link icon icon--facebook"></a>
                <a href="#" class="social-footer__link icon icon--instagram"></a>
                <a href="#" class="social-footer__link icon icon--youtube"></a>
                <a href="#" class="social-footer__link icon icon--spotify"></a>
            </div>
        </div>
    </div>
</footer>
