{%- apply spaceless %}
{% set webAppCapable = 'yes' %}
{% set metaStyleColor = '#000000' %}
{% set metaThemeColor = '#111111' %}
{% set metaPublisher = 'Netexy Solutions' %}
{% set metaClientName = 'Netexy' %}
{% set metaCopyright = 'Netexy Solutions' %}
{% set metaLocaleParts = app.request.locale|split('_') %}
{% set metaLanguage = metaLocaleParts[0] %}
{% set metaCountry = metaLocaleParts[1]|default(null) %}
{% set metaLocale = metaLocaleParts|length == 1 ? metaLanguage : metaLanguage ~ '_' ~ metaCountry|upper %}
{% set metaUrl = app.request.uri %}
{% set metaImageWidth = '1200' %}
{% set metaImageHeight = '630' %}

{# Get meta title #}
{% set metaTitle = extension.seo.title|default(content.title|default('')) %}

{# Get meta description #}
{% set metaDescription = extension.seo.description|default(content.description|default('')|striptags) %}
{% if metaDescription|trim %}
    {% set metaDescription = metaDescription|length > 320 ? metaDescription|slice(0, 316) ~ ' ...' : metaDescription %}
{% endif %}

{# Get meta image #}
{% set metaImageFormat = '600x400' %}
{% set metaImage = metaImage|default(extension.excerpt.images[0].thumbnails[metaImageFormat]|default())  %}
{% set metaImage = metaImage|default(content.images[0].thumbnails[metaImageFormat]|default()) %}
{% set metaImage = metaImage|default('/website/images/logo.svg') %}
{% set metaImage = absolute_url(asset(metaImage)) %}

{# Get meta icon #}
{# {% set metaIconFormat = '192x192' %} #}
{# {% set metaIcon = metaIcon|default(extension.excerpt.icons[0].thumbnails[metaIconFormat]|default())  %} #}
{# {% set metaIcon = metaIcon|default(content.icons[0].thumbnails[metaIconFormat]|default()) %} #}
{# {% set metaIcon = metaIcon|default('/website/images/logo-192x192.png') %} #}
{# {% set metaIcon = absolute_url(asset(metaIcon)) %} #}

{% set metaDefaultTags = {
    'mobile-web-app-capable': webAppCapable,
    'apple-mobile-web-app-capable': webAppCapable,
    'theme-color': metaThemeColor,
    'apple-mobile-web-app-status-bar-style': metaStyleColor,
    'msapplication-TileColor': metaStyleColor,
    'language': metaLanguage,
    'apple-mobile-web-app-title': metaTitle,
    'publisher': metaPublisher,
    'author': metaClientName,
    'copyright': metaCopyright,
    'audience': 'all',
    'distribution': 'global',
    'image': metaImage,
} %}

{% set metaDCTags = {
    'DC.Title': metaTitle,
    'DC.Publisher': metaPublisher,
    'DC.Copyright': metaCopyright,
} %}

{% set metaTwitterTags = {
    'twitter:card': 'summary',
    'twitter:url': metaUrl,
    'twitter:title': metaTitle,
    'twitter:description': metaDescription,
    'twitter:image': metaImage,
} %}

{% set ogMetaTags = {
    'og:site_name': metaClientName,
    'og:url': metaUrl,
    'og:title': metaTitle,
    'og:image': metaImage,
    'og:image:width': metaImageWidth,
    'og:image:height': metaImageHeight,
    'og:type': 'website',
    'og:description': metaDescription,
    'og:locale': metaLocale
} %}

{# {% set metaIcons = { #}
{#     'icon': metaIcon #}
{# } %} #}

{% set itemDrop = {
    'copyrightYear': 2021,
    'isFamilyFriendly': true
} %}
{% endapply -%}

{# Default Seo: http://blog.sulu.io/new-in-sulu-1-4-customizable-seo-tags #}
{%- embed '@SuluWebsite/Extension/seo.html.twig' with {
    seo: extension.seo|default([]),
    content: content|default([]),
    localizations: localizations|default([]),
    shadowBaseLocale: shadowBaseLocale|default(),
    defaultLocale: request.defaultLocale|default('en')
} -%}
    {% block title %}
        {% if not seoTitle -%}
            {% set seoTitle = app.request.pathInfo|split('/')|last|replace({'-': '_'})|humanize %}
        {%- endif -%}
        <title>{{ seoTitle }} - {{ metaClientName }}</title>
    {%- endblock -%}
{%- endembed %}

{# Meta Default Tags #}
{% block metaDefaultTags %}
    {% for property, value in metaDefaultTags|filter((value) => value) %}
    <meta name="{{ property }}" content="{{ value }}"/>
    {% endfor %}
{% endblock %}

{# Meta Icons Tags #}
{# {% block metaIcons %} #}
{#     {% for property, value in metaIcons|filter((value) => value) %} #}
{#     <link rel="{{ property }}" sizes="192x192" href="{{ value }}" type="image/png"> #}
{#     {% endfor %} #}
{# {% endblock %} #}

{# Meta DC Tags #}
{% block metaDCTags %}
    {% for property, value in metaDCTags|filter((value) => value) %}
    <meta name="{{ property }}" content="{{ value }}"/>
    {% endfor %}
{% endblock %}

{# Meta Twitter Tags #}
{% block metaTwitterTags %}
    {% for property, value in metaTwitterTags|filter((value) => value) %}
    <meta name="{{ property }}" content="{{ value }}"/>
    {% endfor %}
{% endblock %}

{# Meta OG Tags #}
{% block ogMetaTags %}
    {% for property, value in ogMetaTags|filter((value) => value) %}
    <meta property="{{ property }}" content="{{ value }}"/>
    {% endfor %}
{% endblock %}


{% block itemDrop %}
    {% for property, value in itemDrop|filter((value) => value) %}
    <meta itemprop="{{ property }}" content="{{ value }}"/>
    {% endfor %}
{% endblock %}

{# {{ dump(content) }} #}