<section class="section section-anythings-possible section-hero-poster-background">

    <div class="grid-container">
        <div class="grid-item span-4-col span-6-col-medium span-12-col-small">
            <div class="tile-content">
                <figure class="image-tile1"></figure>
                <div class="tile-copy">
                    {% if content.solo_title %}<h3 class=" typography-body-semibold">{{ content.title_1|raw }}</h3>{% endif %}
                    {% if content.solo_desc %}
                        <p>
                            {{ content.description_1|raw }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid-item span-4-col span-6-col-medium span-12-col-small">
            <div class="tile-content">
                <figure class="image-tile2"></figure>
                <div class="tile-copy">
                    {% if content.solo_title %}<h3 class=" typography-body-semibold">{{ content.title_1|raw }}</h3>{% endif %}
                    {% if content.solo_desc %}
                        <p>
                            {{ content.description_1|raw }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid-item span-4-col span-6-col-medium span-12-col-small">
            <div class="tile-content">
                <figure class="image-tile3"></figure>
                <div class="tile-copy">
                    {% if content.solo_title %}<h3 class=" typography-body-semibold">{{ content.title_1|raw }}</h3>{% endif %}
                    {% if content.solo_desc %}
                        <p>
                            {{ content.description_1|raw }}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
</section>