<nav class="nav">
    <a class="nav-elem nav-elem--logo" href="{{ sulu_content_path('/') }}">
        <img src="{{ asset('bundles/app/img/logo.svg') }}" alt="Home" class="nav-logo-image"/>
    </a>

    <div class="nav--right cf">
        <ul class="nav-elem nav-elem--items">
            {% for item in sulu_navigation_root_flat('main') %}
                {% set active = '' %}
                
                {% if uuid|default('') %}
                    {% for crumb in sulu_breadcrumb(uuid) %}
                        {% if crumb.uuid == item.uuid %}
                            {% set active = ' class="active"' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% set itemUrl = sulu_content_path(item.url)|default('') %}

                {% if itemUrl is not empty %}
                    <li>
                        <a href="{{ itemUrl }}"
                           title="{{ item.title }}"
                                {{ active|raw }}>
                            {{ item.title }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        <div class="nav-elem nav-elem--language">
            {% for key, value in urls if key != request.locale %}
                {% set itemUrl = sulu_content_path(value, request.webspaceKey, key)|default('') %}

                {% if itemUrl is not empty %}
                    <li>
                        <a href="{{ itemUrl }}"
                           title="{{ key }}">
                            {{ key }}
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </div>

        <a id="js-nav-button" class="nav-elem nav-elem--button">
            <i class="ion-navicon"></i>
        </a>
    </div>
</nav>
