<div property="articlesShow">
    {% if content.articlesShow %}
        <div property="articlesBackground" class="{{ content.articlesBackground ? 'background' : '' }}">
            <div property="articlesHeading">
                <section class="article {{ frame|default(false) ? 'article--frame' }}">
                    {% if content.articlesHeading|default("") %}
                        <h2 class="article-heading heading-h2">
                            {{ content.articlesHeading }}
                        </h2>
                    {% endif %}

                    <div property="articleData"
                         class="js-article-collection"
                         data-slick='{"slidesToScroll": 4, "slidesToShow": 4}'>
                        {% for article in sulu_article_load_recent() %}
                            {% if article.excerpt.images|length %}
                                <div class="article-collection-item">
                                    {% set images = article.excerpt.images %}
                                    {% set image = "" %}

                                    {% if images|length and images|first.thumbnails['400x400'] is defined %}
                                        {% set image = images|first %}
                                    {% endif %}

                                    {% if image|length %}
                                        <div class="article-collection-item-image">
                                            {% set defaultImage = asset(image.thumbnails['400x400']) %}
                                            {% set title = image.title %}
                                            {% set breakpoints = [[
                                                asset(image.thumbnails["400x400"]),
                                                asset(image.thumbnails["800x800"])
                                            ]] %}

                                            {{ app_picture(defaultImage, title, breakpoints)|raw }}

                                            <div class="article-collection-item-text">
                                                {% if article.title|default('') and article.routePath|default('') and sulu_content_path(article.routePath)|default('') %}
                                                    <a href="{{ sulu_content_path(article.routePath) }}"
                                                       class="text-heading">
                                                        {{ article.title }}
                                                    </a>
                                                {% endif %}

                                                {% if article.created|default('') %}
                                                    <p class="text-creation">
                                                        {{ published.date|time_diff }}
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    {% endif %}
</div>
