<div property="headerImage">
    <div property="headerHeading">
        <div property="headerSubheading">
            <div property="headerType">
                {% if content.headerImage|length %}
                    {% set type = " headerimage--medium" %}
                    {% set firstImage = content.headerImage|first %}
                    {% set imageType = firstImage.type.name %}

                    {% if content.headerType|default('') %}
                        {% set type = " headerimage--" ~ content.headerType %}
                    {% endif %}

                    {% if imageType == "image" and firstImage.thumbnails["1920x670"] is defined %}
                        {% set image = content.headerImage|first %}
                        {% set title = image.title %}
                        {% set defaultImage = "" %}
                        {% set breakpoints = [] %}

                        <section class="headerimage {{ type }}">
                            {% if content.headerType == "large" %}
                                {% set defaultImage = asset(image.thumbnails["1920x1080"]) %}
                                {% set breakpoints = {
                                    "(min-width: 1300px)" : [
                                        asset(image.thumbnails["1920x1080"]),
                                        asset(image.thumbnails["3840x2160"])
                                    ],
                                    "(max-width: 1299px)" : [
                                        asset(image.thumbnails["800x450"]),
                                        asset(image.thumbnails["1600x900"])
                                    ]
                                } %}
                            {% elseif content.headerType == "medium" %}
                                {% set defaultImage = asset(content.headerImage|first.thumbnails["1920x670"]) %}
                                {% set breakpoints = {
                                    "(min-width: 1300px)" : [
                                        asset(image.thumbnails['1920x670']),
                                        asset(image.thumbnails["3840x1340"])
                                    ],
                                    "(max-width: 1299px)" : [
                                        asset(image.thumbnails["1435x500"]),
                                        asset(image.thumbnails["2870x1000"])
                                    ],
                                    "(max-width: 480px)" : [
                                        asset(image.thumbnails["860x300"]),
                                        asset(image.thumbnails["1720x600"])
                                    ]
                                } %}
                            {% else %}
                                {% set defaultImage = asset(content.headerImage|first.thumbnails["1920x300"]) %}
                                {% set breakpoints = {
                                    "(min-width: 1300px)" : [
                                        asset(image.thumbnails["1920x300"]),
                                        asset(image.thumbnails["3840x600"])
                                    ],
                                    "(max-width: 1299px)" : [
                                        asset(image.thumbnails["1024x300"]),
                                        asset(image.thumbnails["2048x600"])
                                    ],
                                    "(max-width: 480px)" : [
                                        asset(image.thumbnails["480x200"]),
                                        asset(image.thumbnails["960x400"])
                                    ]
                                } %}
                            {% endif %}

                            {{ app_picture(defaultImage, title, breakpoints, "headerimage-image")|raw }}

                        {% elseif imageType == "video" %}
                            <section class="headerimage headerimage--video">

                                <video src="{{ asset(firstImage.url) }}"
                                       autoplay
                                       loop
                                       muted
                                       class="headerimage-image"></video>
                        {% endif %}

                        {% if content.headerHeading|default('') or content.headerSubheading|default('') %}
                            <div class="headerimage-text">
                                {% if content.headerHeading|default('') %}
                                    <h1 class="headerimage-text-heading heading-h1">
                                        {{ content.headerHeading }}
                                    </h1>
                                {% endif %}

                                {% if content.headerSubheading|default('') %}
                                    <div class="heading-h1-description">
                                        {{ content.headerSubheading|raw }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </section>
                {% endif %}
            </div>
        </div>
    </div>
</div>
