<section class="biography" rel="blocks" typeof="block">
    <div class="grid">
        <div class="grid__item desk--one-half">
            <div class="biography-text">
                <h2 property="biographyTitle" class="heading--h2--border">
                    {% if biography.biographyTitle|default('') %}
                        {{ biography.biographyTitle }}
                    {% endif %}
                </h2>

                <div property="biographyHeading">
                    {% if biography.biographyHeading|default('') %}
                        {{ biography.biographyHeading|raw }}
                    {% endif %}
                </div>

                <div property="biographyText">
                    {% if biography.biographyText|default('') %}
                        {{ biography.biographyText|raw }}
                    {% endif %}
                </div>

                <div property="biographyLink">
                    {% if biography.biographyLink|default('') %}
                        <a class="biography-text-button"
                           href="{{ sulu_content_load(biography.biographyLink).urls[request.locale] }}">
                            Read More
                        </a>
                    {% endif %}
                </div>
        </div>
        </div>
        <div property="biographyImage" class="grid__item desk--one-half">
            {% if biography.biographyImage|length %}
                <picture>
                    <source media="(min-width: 1024px)"
                            srcset="{{ biography.biographyImage|first.thumbnails['800x800-inset'] }}"
                            class="biography-image">

                    <source media="(max-width: 1024px)"
                            srcset="{{ biography.biographyImage|first.thumbnails['400x400-inset'] }}"
                            class="biography-image">

                    <!---Fallback--->
                    <img src="{{ biography.biographyImage|first.thumbnails['800x800-inset'] }}"
                         class="biography-image">
                </picture>
            {% endif %}
        </div>
    </div>
</section>