<section class="biography" rel="blocks" typeof="block">
    <div class="grid">
        <div class="grid__item desk--one-half">
            <div class="biography-text">
                <h2 property="biographyTitle" class="heading--h2 biography-text-heading">
                    {% if biography.biographyTitle|default('') %}
                        {{ biography.biographyTitle }}
                    {% endif %}
                </h2>

                <div property="biographyHeading" class="biography-text-subheading">
                    {% if biography.biographyHeading|default('') %}
                        {{ biography.biographyHeading|raw }}
                    {% endif %}
                </div>

                <div property="biographyText">
                    {% if biography.biographyText|default('') %}
                        {{ biography.biographyText|raw }}
                    {% endif %}
                </div>

                <div property="biographyLink">
                    {% if biography.biographyLink|default('') %}
                        <a class="button--medium"
                           href="{{ sulu_content_load(biography.biographyLink).urls[request.locale] }}">
                            Read More
                        </a>
                    {% endif %}
                </div>
        </div>
        </div>
        <div property="biographyImage" class="grid__item desk--one-half">
            {% if biography.biographyImage|length and biography.biographyImage|first.thumbnails['580x400'] is defined%}
                    <img src="{{ biography.biographyImage|first.thumbnails['580x400'] }}" class="biography-image">
            {% endif %}
        </div>
    </div>
</section>