<section class="biography">
    <div class="grid">
        <div class="grid__item desk--one-half">
            <div class="biography-text">
                <h2 class="heading--h2--border">
                    {{ biography.biographyTitle }}
                </h2>

                <h3 class="heading--h3">
                    {{ biography.biographyHeading }}
                </h3>

                {{ biography.biographyText|raw }}

                <a class="biography-text-button"
                   href="{{ sulu_content_load(biography.biographyLink).urls[request.locale] }}">
                    Read More
                </a>
            </div>
        </div>
        {% if biography.biographyImage|length > 0 %}
            <picture class="biography-image grid__item desk--one-half">
                <source media="(min-width: 1024px)"
                        srcset="{{ biography.biographyImage[0].thumbnails['800x800-inset'] }}">

                <source media="(max-width: 1024px)"
                        srcset="{{ biography.biographyImage[0].thumbnails['400x400-inset'] }}">

                <!---Fallback--->
                <img rc="{{ biography.biographyImage[0].thumbnails['800x800-inset'] }}"/>
            </picture>
        {% endif %}
    </div>
</section>