<div class="grid__item desk--one-fifth portable--one-whole">
    <aside class="blog-sidemenu">
        <div class="grid">
            <div class="grid__item desk--one-whole lap--one-half palm--one-whole">
                <h2 class="blog-sidemenu-heading">
                    {{ 'categories'|trans }}
                </h2>

                <ul class="blog-sidemenu-list">
                    <li>
                        <a href="{{ link }}">
                            None
                            <i class="ion-ios-arrow-right"></i>
                        </a>
                    </li>

                    {% for category in sulu_categories(request.locale) %}
                        <li>
                            <a href="{{ link }}?categories={{ category.id }}">
                                {{ category.name }}
                                <i class="ion-ios-arrow-right"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="grid__item desk--one-whole lap--one-half palm--one-whole">
                <h2 class="blog-sidemenu-heading">{{ 'recent_articles'|trans }}</h2>
                {% if latestArticles is defined %}
                    {% for latestArticle in latestArticles %}
                        {% set medias = [] %}

                        {% if latestArticle.image|length %}
                            {% if latestArticle.image.ids|length %}
                                {% set medias = sulu_resolve_medias(latestArticle.image.ids, request.locale) %}
                            {% endif %}
                        {% endif %}

                        {% if medias|default([]) %}
                            <div class="blog-sidemenu-recent">
                                <img src="{{ medias|first.thumbnails['140x70'] }}"/>
                                <div class="blog-sidemenu-recent-text">
                                    <p>{{ latestArticle.creation.date|date("d.m.Y") }}</p>
                                    <a href="{{ latestArticle.url.value }}">
                                        <h6>{{ latestArticle.heading.value }}</h6>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </aside>
</div>