<div rel="blocks" typeof="block">
    <div property="discographyTitle">
        <section class="discography--element">
            {% if block.discographyTitle|default("") %}
                <h2 class="discography--element-heading heading--h2">
                    {{ block.discographyTitle }}
                </h2>
            {% endif %}

            <div property="discographyData"
                 class="js-discography--element-collection"
                 data-slick='{"slidesToScroll": 4, "slidesToShow": 4}'>
                {% for disc in block.discographyData if disc.template == "discography" %}
                    <div class="discography--element-collection-item">
                        {% if disc.image|length and disc.image|first.formats['400x400'] is defined %}
                            <div class="discography--element-collection-item-image">
                                <img src="{{ disc.image|first.formats['400x400'] }}"
                                     alt="artist.image|first.title"/>

                                <h1 class="heading--h1">
                                    {{ disc.heading }}
                                </h1>
                            </div>
                        {% endif %}

                        <div class="discography--element-collection-item-text">
                            {% if disc.heading|default('') %}
                                <a class="discography--element-collection-item-text-name"
                                   href="{{ sulu_content_path(disc.url) }}">
                                    {{ disc.title }}
                                </a>

                                {% set breadcrumb = sulu_breadcrumb(disc.id) %}

                                {% set artist = breadcrumb[breadcrumb|length - 2] %}

                                <a href="{{ sulu_content_path(artist.url) }}"
                                   class="discography--element-collection-item-text-artist">
                                    {{ artist.title }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>