<section  rel="blocks" typeof="block" class="discography {{ background|default('') }}">
    <div class="discography-frame">
        <h2 property="discographyTitle" class="discography-frame-heading heading--h2--border">
            {{ discography.discographyTitle }}
        </h2>

        <div property="discographyHeading">
            {{ discography.discographyHeading|raw }}
        </div>

        <div property="discographyData" class="grid">
            {% for item in discography.discographyData if item.template == "discography" %}
                    <div class="grid__item desk--one-third lap--one-half palm--one-whole">
                        <div class="discography-frame-collum">
                            {% if item.image|length %}
                                <img src="{{ item.image|first.thumbnails['400x400-inset'] }}"
                                     class="discography-frame-collum-image"/>
                            {% endif %}

                            {% for category in item.categories %}
                                <a href="{{ sulu_content_load(item.parent).urls[request.locale] }}?category={{ c.id }}">
                                    {{ c.name }}
                                </a>
                            {% endfor %}

                            <h5 class="heading--h5">
                                <a href="{{ item.url }}">{{ item.heading }}</a>
                            </h5>

                            <a href="{{ item.url }}" class="discography-frame-collum-button">
                                Read More
                            </a>
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
</section>