<div rel="blocks" typeof="block">
    <div property="discographyTitle">
        <section class="discography--element">
            {% if block.discographyTitle|default("") %}
                <h2 class="discography--element-heading heading--h2">
                    {{ block.discographyTitle }}
                </h2>
            {% endif %}

            <div property="discographyData"
                 class="js-discography--element-collection"
                 data-slick='{"slidesToScroll": 4, "slidesToShow": 4}'>
                {% for disc in block.discographyData if disc.template == "discography" %}
                    <div class="discography--element-collection-item">
                        {% set image = "" %}

                        {% if disc.image|length and disc.image|first.type.name == "image" and disc.image|first.thumbnails['400x400'] is defined %}
                            {% set image = disc.image|first %}
                        {% elseif disc.image|length >= 2 and disc.image[1].thumbnails['400x400'] %}
                            {% set image = disc.image[1] %}
                        {% elseif disc.image|length == 1 and disc.image|first.type.name == "video" and disc.image[0].thumbnails['400x400'] %}
                            {% set image = disc.image[0] %}
                        {% endif %}

                        {% if image|length %}
                            <div class="discography--element-collection-item-image">
                                <picture>
                                    <source srcset="{{ image.thumbnails["400x400"] }},
                                            {{ image.thumbnails["800x800"] }} 2x">

                                    <img src="{{ image.thumbnails['400x400'] }}"
                                         alt="{{ image.title }}"
                                         class="artist--element-frame-item-image"/>
                                </picture>

                                {% if disc.heading|default('') %}
                                    <h1 class="heading--h1">
                                        {{ disc.heading }}
                                    </h1>
                                {% endif %}
                            </div>
                        {% endif %}

                        <div class="discography--element-collection-item-text">
                            {% if disc.heading|default('') %}
                                <a class="discography--element-collection-item-text-name"
                                   href="{{ sulu_content_path(disc.url) }}">
                                    {{ disc.title }}
                                </a>

                                {% set breadcrumb = sulu_breadcrumb(disc.id) %}

                                {% set artist = breadcrumb[breadcrumb|length - 2] %}

                                <a href="{{ sulu_content_path(artist.url) }}"
                                   class="discography--element-collection-item-text-artist">
                                    {{ artist.title }}
                                </a>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>