<section class="news--flash" rel="blocks" typeof="block">
    <div class="grid">
        <div class="grid__item desk--four-tenths">
            <div class="news--flash-text">
                <h2 property="title" class="heading--h2 news--flash-text-title">
                    {% if block.title|default('') %}
                        {{ block.title }}
                    {% endif %}
                </h2>

                <div property="heading" class="news--flash-text-heading">
                    {% if block.heading|default('') %}
                        {{ block.heading|raw }}
                    {% endif %}
                </div>

                <div property="text">
                    {% if block.text|default('') %}
                        {{ block.text|raw }}
                    {% endif %}
                </div>
            </div>
        </div>

        <div property="image" class="grid__item desk--six-tenths">
            {% if block.image|first.thumbnails['980x680'] is defined %}
                <img src="{{ block.image|first.thumbnails['980x680'] }}"
                     alt="{{ block.image|first.title }}"
                     class="news--flash-image">
            {% endif %}
        </div>
    </div>
</section>