<section class="forbooking {{ frame|default('') }}">
    <img src="{{ action.image[0].url }}" alt="{{ action.image[0].title }}" class="forbooking-image"/>
    <div class="forbooking-text">
        <h2 class="heading--h2">{{ action.title }}</h2>
        <p>
            {{ action.text }}
        </p>
        <a href="{{ sulu_content_load(action.link).urls[request.locale] }}"
           class="forbooking-text-button">
            Contact us
        </a>
    </div>
</section>