<section class="headerimage">
    <img src="{{ img }}"/>
    <div class="headerimage-text {{ kind }}">
        <h1 class="heading {{ headingposition }}">{{ heading }}</h1>
        <p>{{ text }}</p>
    </div>
</section>