<section class="news" rel="blocks" typeof="block">
    <h2 property="title" class="news-heading heading--h2--border">
        {% if item.title|default('') %}
            {{ item.title }}
        {% endif %}
    </h2>

    <div property="newsData">
        {% for item in news.newsData %}
            <div class="news-item" onclick="location.href='{{ item.url }}'">
                {% if item.image|length and item.image|first.thumbnails['800x200-inset'] is defined %}
                    <picture>
                        <source class="news-item-image"
                                media="(min-width: 1024px)"
                                srcset="{{ item.image|first.thumbnails['1080x200-inset'] }}">

                        <source class="news-item-image"
                                media="(min-width: 481px) and (max-width: 1023px)"
                                srcset="{{ item.image|first.thumbnails['800x200-inset'] }}">

                        <source class="news-item-image"
                                media="(max-width: 480px)"
                                srcset="{{ item.image|first.thumbnails['480x200-inset'] }}">

                        <!---Fallback--->
                        <img class="news-item-image" src="{{ item.image|first.thumbnails['800x200-inset'] }}">
                    </picture>
                {% endif %}

                <div class="news-item-text">
                    by <a href="#">{{ sulu_resolve_user(item.creator).contact.fullName }}</a>

                    <h3 class="heading--h3">{{ item.heading }}</h3>

                    <span class="news-item-text-date">
                        <i class="ion-ios-arrow-forward"></i> {{ item.published.date|date("d.m.Y") }}
                    </span>

                    <span class="news-item-text-category">
                        <i class="ion-ios-arrow-forward">
                            {% for category in item.categories %}
                                {{ category.name ~ (not loop.last ? ',' : '') }}
                            {% endfor %}
                        </i>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>
</section>