<section class="news">
    {% if title|default('') %}
        <h2 class="news-heading heading--h2--border">
            {{ title }}
        </h2>
    {% endif %}

    {% for item in news.newsData|slice(0,3) %}
        <div class="news-item" onclick="location.href='{{ item.url }}'">
            <picture>
                <source media="(min-width: 1024px)"
                        srcset="{{ item.image[0].thumbnails['1080x200-inset'] }}"
                        class="news-item-image">

                <source media="(min-width: 481px) and (max-width: 1023px)"
                        srcset="{{ item.image[0].thumbnails['800x200-inset'] }}"
                        class="news-item-image">

                <source media="(max-width: 480px)"
                        srcset="{{ item.image[0].thumbnails['480x200-inset'] }}"
                        class="news-item-image">

                <!---Fallback--->
                <img class="news-item-image" src="{{ item.image[0].thumbnails['800x200-inset'] }}">
            </picture>

            <div class="news-item-text">
                by <a href="#">{{ sulu_resolve_user(item.creator).contact.fullName }}</a>

                <h3 class="heading--h3">{{ item.heading }}</h3>

                <span class="news-item-text-date">
                    <i class="ion-ios-arrow-forward"></i> {{ item.published.date|date("d.m.Y") }}
                </span>

                <span class="news-item-text-category">
                    <i class="ion-ios-arrow-forward">
                        {% for category in item.categories %}
                            {{ category.name ~ (not loop.last ? ',' : '') }}
                        {% endfor %}
                    </i>
                </span>
            </div>
        </div>
    {% endfor %}
</section>