<section style="background-image: url({{ backgroundImageUrl }});" class="team team--{{ background }}">
    <div class="grid">
        <h2 class="team-heading team--{{ kind }}">
            {{ artists.artistsTitle }}
        </h2>

        {% for artist in artists.artistsData %}
            <div class="grid__item desk--one-third team-member lap--one-half palm--one-whole">
                <img class="team-member-image" src="{{ artist.image[0].url }}"/>

                <span class="team-member-socials">
                    <i class="team-member-socials-twitter ion-social-twitter" onclick="location.href='#'"></i>
                    <i class="team-member-socials-facebook ion-social-facebook" onclick="location.href='#'"></i>
                    <i class="team-member-socials-googleplus ion-social-googleplus" onclick="location.href='#'"></i>
                    <i class="team-member-socials-linkedin ion-social-linkedin" onclick="location.href='#'"></i>
                    <i class="team-member-socials-instagram ion-social-instagram" onclick="location.href='#'"></i>
                </span>

                <div class="team-member-text">
                    <a class="team-member-text-name" href="{{ artist.path }}">{{ artist.heading }}</a>
                    <p class="team-member-text-role">Lead Singer</p>
                </div>
            </div>
        {% endfor %}
    </div>
</section>