<section class="biography" rel="blocks" typeof="block">
    <div class="grid">
        <div class="grid__item desk--one-half">
            <div class="biography-text">
                <div property="biographyTitle">
                    {% if block.biographyTitle|default('') %}
                        <h2 class="heading--h2 biography-text-heading">
                            {{ block.biographyTitle }}
                        </h2>
                    {% endif %}
                </div>

                <div property="biographyHeading">
                    {% if block.biographyHeading|default('') %}
                        <div class="biography-text-subheading">
                            {{ block.biographyHeading|raw }}
                        </div>
                    {% endif %}
                </div>

                <div property="biographyText">
                    {% if block.biographyText|default('') %}
                        {{ block.biographyText|raw }}
                    {% endif %}
                </div>

                <div property="biographyLink">
                    {% if block.biographyLink|default('') %}
                        {% set page = sulu_content_load(block.biographyLink)|default([]) %}

                        {% if page.urls is defined %}
                            <a class="button--medium"
                               href="{{ page.urls[request.locale] }}">
                                {{ 'read_more'|trans }}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div property="biographyImage" class="grid__item desk--one-half">
            {% if block.biographyImage|first.thumbnails['750x500'] is defined %}
                <picture>
                    <source srcset="{{ asset(block.biographyImage|first.thumbnails["750x500"]) }}, {{ asset(block.biographyImage|first.thumbnails["1500x1000"]) }} 2x"
                                media="(min-width: 1024px)">

                    <source srcset="{{ asset(block.biographyImage|first.thumbnails["1024x715"]) }}, {{ asset(block.biographyImage|first.thumbnails["2048x1430"]) }} 2x"
                                media="(max-width: 1024px) and (min-width: 480px)">

                    <source srcset="{{ asset(block.biographyImage|first.thumbnails["480x335"]) }}, {{ asset(block.biographyImage|first.thumbnails["960x670"]) }} 2x"
                                media="(max-width: 480)">

                    <img src="{{ asset(block.biographyImage|first.thumbnails['750x500']) }}"
                         alt="{{ block.biographyImage|first.title }}"
                         class="biography-image">
                </picture>
            {% endif %}
        </div>
    </div>
</section>
