{% set propertyName = propertyName|default('blocks') %}
<section class="news--flash" rel="{{ propertyName }}" typeof="block">
    <div class="grid">
        <div class="grid__item desk--one-half">
            <div class="news--flash-text">
                <div property="title">
                    {% if block.title|default('') %}
                        <h2 class="heading-h2 news--flash-text-title">
                            {{ block.title }}
                        </h2>
                    {% endif %}
                </div>

                <div property="heading">
                    {% if block.heading|default('') %}
                        <div class="news--flash-text-heading">
                            {{ block.heading|raw }}
                        </div>
                    {% endif %}
                </div>

                <div property="text">
                    {% if block.text|default('') %}
                        {{ block.text|raw }}
                    {% endif %}
                </div>

                <div property="link">
                    {% if block.link|default('') %}
                        {% set page = sulu_content_load(block.link)|default([]) %}

                        {% if page.urls is defined %}
                            <a class="button-medium"
                               href="{{ page.urls[request.locale] }}">
                                {{ 'more'|trans }}
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div property="image" class="grid__item desk--one-half">
            {% if block.image|first.thumbnails['980x680'] is defined %}
                {% set defaultImage = asset(block.image|first.thumbnails['980x680']) %}
                {% set title = block.image|first.title %}
                {% set breakpoints = [[
                        asset(block.image|first.thumbnails["980x680"]),
                        asset(block.image|first.thumbnails["1960x1360"])
                ]] %}

                {{ app_picture(defaultImage, title, breakpoints, "news--flash-image")|raw }}
            {% endif %}
        </div>
    </div>
</section>
