<div rel="blocks" typeof="block">
    <div property="image">
        <div property="size">
            {% if block.image|length %}
                {% set size = ' headerimage--medium' %}

                {% if block.size|default('') %}
                    {% set size = ' headerimage--' ~ block.size %}
                {% endif %}

                {% if block.image|first.type.name == 'image' and block.image|first.thumbnails['1920x670'] is defined %}
                    <section class="headerimage {{ size }}">
                        <picture>
                            {% if size == "large" %}
                                <source srcset="{{ asset(block.image|first.thumbnails['1920x1080']) }}, {{ asset(block.image|first.thumbnails['3840x2160']) }} 2x"
                                        media="(min-width: 1300px)">

                                <source srcset="{{ asset(block.image|first.thumbnails['800x450']) }}, {{ asset(block.image|first.thumbnails['1600x900']) }} 2x"
                                        media="(max-width: 1299px)">

                                <img src="{{ asset(block.image|first.thumbnails['1920x1080']) }}"
                                     alt="{{ block.image|first.title }}"
                                     class="headerimage-image">
                            {% elseif size == 'medium' %}
                                <source srcset="{{ asset(block.image|first.thumbnails['1920x670']) }}, {{ asset(block.image|first.thumbnails['3840x1340']) }} 2x"
                                        media="(min-width: 1300px)">

                                <source srcset="{{ asset(block.image|first.thumbnails['1435x500']) }}, {{ asset(block.image|first.thumbnails['2870x1000']) }} 2x"
                                        media="(max-width: 1299px) and (min-width: 481px)">

                                <source srcset="{{ asset(block.image|first.thumbnails['860x300']) }}, {{ asset(block.image|first.thumbnails['1720x600']) }} 2x"
                                        media="(max-width: 480px)">

                                <img src="{{ asset(block.image|first.thumbnails['1920x670']) }}"
                                     alt="{{ block.image|first.title }}"
                                     class="headerimage-image">
                            {% else %}
                                <source srcset="{{ asset(block.image|first.thumbnails['1920x300']) }}, {{ asset(block.image|first.thumbnails['3840x600']) }} 2x"
                                        media="(min-width: 1024px)">

                                <source srcset="{{ asset(block.image|first.thumbnails['1024x300']) }}, {{ asset(block.image|first.thumbnails['2048x600']) }} 2x"
                                        media="(max-width: 1024px) and (min-width: 481px)">

                                <source srcset="{{ asset(block.image|first.thumbnails['480x200']) }}, {{ asset(block.image|first.thumbnails['960x400']) }} 2x"
                                        media="(max-width: 480px)">

                                <img src="{{ asset(block.image|first.thumbnails['1920x300']) }}"
                                     alt="{{ block.image|first.title }}"
                                     class="headerimage-image">
                            {% endif %}
                        </picture>
                {% elseif block.image|first.type.name == 'video' %}
                    <section class="headerimage headerimage--video fullimage">
                        <video src="{{ asset(block.image|first.url) }}"
                               autoplay
                               loop
                               muted
                               class="headerimage-image"></video>
                {% endif %}
                    </section>
            {% endif %}
        </div>
    </div>
</div>
