{% set propertyName = propertyName|default('blocks') %}
<div rel="{{ propertyName }}" typeof="block">
    <div class="messageform">
        <div class="messageform-content">
            <div property="heading">
                {% if block.heading|default('') %}
                    <h2 class="heading-h2">
                        {{ block.heading }}
                    </h2>
                {% endif %}
            </div>

            <div property="subheading">
                {% if block.subheading|default('') %}
                    <div class="messageform-subheading">
                        {{ block.subheading|raw }}
                    </div>
                {% endif %}
            </div>

            <form action="#">
                <div class="grid">
                    <div class="grid__item desk--five-twelfths portable--one-whole">
                        <div class="messageform-label">
                            <input id="name"
                                   class="messageform-label-input"
                                   type="text"
                                   placeholder="{{ 'name'|trans }}"
                                   required=""/>
                            <p>{{ 'name'|trans }}</p>
                        </div>
                    </div>

                    <div class="grid__item desk--one-twelfth"></div>

                    <div class="grid__item desk--one-half portable--one-whole">
                        <div class="messageform-label">
                            <input id="email"
                                   class="messageform-label-input"
                                   type="email"
                                   placeholder="{{ 'email'|trans }}"
                                   required=""/>
                            <p>{{ 'email'|trans }}</p>
                        </div>
                    </div>

                    <div class="grid__item desk--five-twelfths portable--one-whole">
                        <div class="messageform-label">
                            <input id="phone"
                                   class="messageform-label-input"
                                   type="tel"
                                   pattern="^([0|\+[0-9 ]{1,5})?([1-9 ][0-9 ]{12})$"
                                   placeholder="{{ 'phone'|trans }}"
                                   required=""/>
                            <p>{{ 'phone'|trans }}</p>
                        </div>
                    </div>

                    <div class="grid__item desk--one-twelfth"></div>

                    <div class="grid__item desk--one-half portable--one-whole">
                        <div class="messageform-label">
                            <input id="subject"
                                   class="messageform-label-input"
                                   type="text"
                                   placeholder="{{ 'subject'|trans }}"
                                   required=""/>
                            <p>{{ 'subject'|trans }}</p>
                        </div>
                    </div>

                    <div class="grid__item one-whole">
                        <div class="messageform-label">
                            <input id="message"
                                   class="messageform-label-input"
                                   placeholder="{{ 'message'|trans }}"
                                   required=""/>
                            <p>{{ 'message'|trans }}</p>
                        </div>
                    </div>
                </div>

                <div class="messageform-button cf">
                    <input type="submit"
                           value="Submit Message"
                           class="button-large">
                </div>
            </form>
        </div>
    </div>
</div>
