<section class="news" rel="blocks" typeof="block">
    <div class="news-content">
        <div property="title">
            {% if block.title|default('') %}
                <h2 class="news-content-title heading-h2">
                    {{ block.title }}
                </h2>
            {% endif %}
        </div>

        <div property="newsData">
            {% for item in block.newsData %}
                <span class="news-content-heading">
                    <p class="news-content-heading-creator" href="#">
                        by {{ item.creator }}
                    </p>

                    <p class="news-content-heading-date cf">
                        {{ item.published.date|date("d.m.Y") }}
                    </p>
                </span>

                <a href="{{ sulu_content_path(item.routePath) }}" class="news-content-link">
                    {{ item.title }}
                    <i class="ion-ios-arrow-thin-right"></i>
                </a>
            {% endfor %}
        </div>
    </div>
</section>
