{# {% if content.title %}{{ content.title|raw }}{% endif %} #}

<section class="section section-more">
    {% if content.headline %}<h3 class="section-headline typography-headline">{{ content.headline|raw }}</h3>{% endif %}
    <div class="tile tile-one
	tile-left" data-analytics-section-engagement="name:apple one">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-one-content">
                <h2 class="tile-headline  typography-headline">
                    {% if content.title_one %}{{ content.title_one|raw }}{% endif %}
                    {# <figure class="image-one-logo"></figure> #}
                </h2>
                {% if content.desc_one %}<p class="tile-copy  typography-body-custom">{{ content.desc_one|raw }}</p>{% endif %}
                {# <p class="tile-cta"> #}
                {#     <a href="#!" data-analytics-title="try apple one free" data-analytics-region="try apple one free" aria-label="Try Apple One Free" class="icon-wrapper available-more-links typography-body-custom" data-analytics-exit-link="" rel="nofollow"><span class="icon-copy">Try it free<sup class="footnote footnote-number">9</sup></span><span class="icon icon-after icon-external"></span></a> #}
                {# </p> #}
                {# <p class="tile-cta"> #}
                {#     <a href="#!" data-analytics-title="learn more | apple one" aria-label="Learn more about Apple One" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a> #}
                {# </p> #}
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-one"></figure>
        </div>
    </div>
    <div class="tile tile-apple-music
	tile-bottom
	tile-half
	" data-analytics-section-engagement="name:apple music">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-apple-music-content">
                <h2 class="tile-headline  typography-headline">
                    {% if content.title_two %}{{ content.title_two|raw }}{% endif %}
                    {# <figure class="image-apple-music-logo"></figure> #}
                </h2>
                {% if content.desc_two %}<p class="tile-copy  typography-body-custom">{{ content.desc_two|raw }}</p>{% endif %}
                {# <div class="cta-container"> #}
                {#     <p class="tile-cta"> #}
                {#         <a href="#!" data-analytics-title="try apple music" data-analytics-click="prop3:try apple music" aria-label="Try Apple Music for free" class="icon-wrapper available-more-links typography-body-custom" data-analytics-exit-link="" rel="nofollow"><span class="icon-copy">Try it free<sup class="footnote footnote-number">7</sup></span><span class="icon icon-after icon-external"></span></a> #}
                {#     </p> #}
                {#    <p class="tile-cta"> #}
                {#        <a href="#!" data-analytics-title="learn more about apple music" aria-label="Learn more about Apple Music" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a> #}
                {#    </p> #}
                {# </div> #}
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-apple-music "></figure>
        </div>
    </div>
    <div class="tile tile-three-rings
	tile-bottom
	tile-half
	" data-analytics-section-engagement="name:activity rings">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-three-rings-content">
                {% if content.title_three %}<h2 class="tile-headline  typography-headline">{{ content.title_three|raw }}</h2>{% endif %}
                {% if content.desc_three %}<p class="tile-copy  typography-body-custom">{{ content.desc_three|raw }}</p>{% endif %}
                {# <div class="cta-container"> #}
                   {# <p class="tile-cta"> #}
                        {# <a href="#!" data-analytics-title="see how to close your activity rings" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">See how to close your<br class="medium"> Activity rings <br class="large">on Apple&nbsp;Watch</span><span class="icon icon-after more"></span></a> #}
                {#    </p> #}
                {# </div> #}
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-three-rings "></figure>
        </div>
    </div>
    <div class="tile tile-research-app
	tile-right
	" data-analytics-section-engagement="name:apple research app">
        <div class="tile-content">
            <div class="tile-content-wrapper tile-content-wrapper-alt tile-research-app-content">
                {% if content.title_four %}<h2 class="tile-headline  typography-headline">{{ content.title_four|raw }}</h2>{% endif %}
                {% if content.desc_four %}<p class="tile-copy  typography-body-custom">{{ content.desc_four|raw }}</p>{% endif %}
                {# <div class="cta-container"> #}
                {#     <p class="tile-cta"> #}
                {#         <a href="#!" data-analytics-title="learn more about the apple research app" aria-label="learn more about the apple research app" class="icon-wrapper available-more-links typography-body-custom"><span class="icon-copy">Learn more</span><span class="icon icon-after more"></span></a> #}
                {#     </p> #}
                {# </div> #}
            </div>
        </div>
        <div class="tile-image">
            <figure class="image image-research-app "></figure>
        </div>
    </div>
</section>
