<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    {# @see https://docs.sulu.io/en/2.2/reference/twig-extensions/functions/sulu_snippet_load_by_area.html #}
    {% set webspaceSettings = sulu_snippet_load_by_area('webspace_settings') %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block meta %}
        {% include 'includes/meta.html.twig' %}
    {% endblock %}

    {% block style -%}
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('/build/website/css/main.css') }}">
    {% endblock %}

</head>
<body>
    <header>
        {% include 'includes/demobar.html.twig' %}

        {% block header %}
            {% include 'includes/navbar.html.twig' %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
            {% block contentHeader %}
                {% include 'includes/header.html.twig' %}
            {% endblock %}

            <div class="content">
                <div class="container">
                    {% block contentBody %}{% endblock %}
                </div>
            </div>
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            {% include 'includes/footer.html.twig' %}
        {% endblock %}
    </footer>

    {% block javascripts %}
        <script>
            window.webComponents = {{ get_components() }};
            window.webServices = {{ get_services() }};
        </script>
        <script src="{{ asset('/build/website/js/main.js') }}" async></script>
    {% endblock %}
</body>
</html>
